@import "omega_mixins";
  
// Basic Color Variables 
$primaryColor1: #474848;
$primaryColor2: #000000;
$primaryColor3: #000000;
$primaryColor4: #000000;
$primaryColor5: #000000;
$mainMenuBgColor: #000000;
$mainMenuFontColor: #000000;
$mainMenuBorderColor: #000000;
$buttonBgColor: #000000;
$buttonFontColor: #000000;
$buttonBorderColor: #000000;

// Basic Font Variables
$defaultHeaderFont: Georgia, serif;
$defaultBodyFont: "Helvetica Neue", Helvetica, Arial, sans-serif;
