/*
 * Fonts
 */
/* line 3, /style/scss/elements/messages.scss */
.messages--warning {
  box-shadow: none;
  border-left: 8px solid #e09600;
}


/* line 7, /style/scss/elements/messages.scss */
.messages--status {
  box-shadow: none;
  border-left: 8px solid #77b259;
}


/* line 11, /style/scss/elements/messages.scss */
.messages--error {
  box-shadow: none;
  border-left: 8px solid #e62600;
}


