// Default Variable Import
@import "_omega-style-vars.scss";

.nb_fixed-bg {
  height: 600px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}